@font-face {
  font-family:'SFAlien';
  src: url("../assets/fonts/SFAlienEncounters.ttf") format('truetype');
  font-weight: bold;
}

h1 {
  margin: 0;
  font-family: SFAlien;
  font-size: 100px;
}

#main-container {
  color: lightblue;
  background-image: url("../assets/images/eezy_42.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
