@font-face {
  font-family:'SFAlien';
  src: url("../assets/fonts/SFAlienEncounters.ttf") format('truetype');
  font-weight: bold;
}

h1 {
  margin: 0;
  font-family: SFAlien;
  font-size: 100px;
}

/*remember... this container is inside content*/
#main-container {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}

#main-content {
  background-image: url("../assets/images/synxWallpaper.png");
  background-size: cover;
  height: 100vh;
  width: 100vh;
}

#title {
  color: lightblue;
  background-image: url("../assets/images/eezy_42.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
